# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*

# Build / dist folders
dist/
build/

# IDE / OS files
.vscode/
.idea/
.DS_Store

# Coverage and tests
coverage/
*.test.js
